#customerContainer {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    margin: auto;
    border: 2px solid black;
}

img {
    border-radius: 50% 75%;
    width: 100px;
}

p {
    padding: 0px;
    margin: 0;
    /* border: 2px solid black; */
}

.last_element {
    margin-bottom: 20px;
}

.capitalize {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.address {
    padding-bottom: 5px;
}

.email {
    color: darkgrey;
    padding-bottom: 5px;
}

.customer_card {
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 250px;
}

#title {
    font-size: 40px;
    padding-left: 175px;
}